{% extends 'judge/base.html' %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'judge/css/problem_list.css' %}">
{% endblock %}

{% block content %}
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="table-column-id">ID</th>
        <th class="table-column-title">Title</th>
        <th class="table-column-solved">Solved</th>
        <th class="table-column-deadline">Deadline</th>
      </tr>
    </thead>
    <tbody>
      {% for problem_info in problem_info_list %}
      <tr>
        <td class="table-column-id">{{ problem_info.problem.pk }}</td>
        <td class="table-column-title"><a href="{% url 'judge:problem_detail' problem_info.problem.pk %}">{{ problem_info.problem.title }}</a></td>
        <td class="table-column-solved">
          {% if problem_info.profile_solved %}
          <span class="glyphicon glyphicon-ok text-success"></span>
          {% else %}
          <span class="glyphicon glyphicon-remove text-danger"></span>
          {% endif %}
        </td>
        <td class="table-column-deadline">{{ problem_info.problem.deadline_datetime }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
